@import './utils/loader.css';
@import './utils/notification.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
@import '../assets/fonts/bootstrap-icons/font/bootstrap-icons.css';

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #ffffff;

  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

#container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

/* LOCK THE SCREEN WITH user-menu */

#user-menu {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2ch;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;

  cursor: pointer;
}

#user-menu .title {
  font-size: 46px;
}

/* INTERACTIVITY AND DISPLAYING MODEL INFORMATIONS */

#informations-container {
  position: absolute;
  background-color: rgba(251, 175, 0, 0.6);
  color: white;

  height: auto;
  max-width: 75%;
  border-radius: 5px;

  display: none;
  align-items: center;

  justify-content: end;
  align-self: center;
  text-align: left;
  left: 10%;
  bottom: 5%;
  padding: 5px 20px 5px 20px;
  box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.15);
}

.user-menu-keys {
  font-weight: 400;
  color: #fbaf00;
}

#informations-box {
  font-size: 1.1rem;
}

#informations-hide {
  font-size: 0.8rem;
}

#event-box {
  background: #fbaf00;
  position: absolute;
  width: 100%;
  max-height: 45%;
  padding: 20px 50px;
  text-align: center;
  box-sizing: border-box;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.content > div:not(.powered) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

button {
  all: unset;
  font-size: 1.2rem;
  background: rgba(251, 175, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 6px;
  padding: 0.3rem 1rem;

  transition: all 0.1s ease-in-out;
}

button:hover {
  background: rgba(251, 175, 0, 0.9);
}

button > i {
  font-size: 2rem;
}

.reverb,
.externalizer,
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.externalizer-hint {
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.wrapper {
  padding: 0.5rem 2rem;
  border: 1px dashed #fbaf00;
}

.wrapper > div {
  padding: 0.7rem 0;
}

.wrapper > div:not(div:last-of-type) {
  border-bottom: 1px dashed #fbaf00;
}

.reverb-title {
  font-size: 1.5rem;
}

input {
  margin: 0.5rem 1rem;
}

.powered {
  font-size: smaller;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

a {
  font-weight: 300;
  color: #fbaf00;
  text-decoration: none;
}
