@import './utils/loader.css';
@import './utils/notification.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import '../assets/fonts/bootstrap-icons/font/bootstrap-icons.css';

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #ffffff;

  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
}

#container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

/* LOCK THE SCREEN WITH user-menu */

#user-menu {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2ch;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;

  cursor: pointer;
}

#user-menu .title {
  font-size: 46px;
}

/* INTERACTIVITY AND DISPLAYING MODEL INFORMATIONS */

#informations-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.49);
  color: black;

  height: auto;
  max-width: 75%;
  border-radius: 5px;

  display: none;
  align-items: center;

  justify-content: end;
  align-self: center;
  text-align: left;
  left: 10%;
  bottom: 5%;
  padding: 5px 20px 5px 20px;
  box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.15);
}

.user-menu-keys {
  color: #fbaf00;
}

#informations-box {
  font-size: 1.1rem;
}

#informations-hide {
  font-size: 0.8rem;
}

#event-box {
  background: #35485d;
  position: absolute;
  width: 100%;
  max-height: 45%;
  padding: 20px 50px;
  text-align: center;
  box-sizing: border-box;
  overflow-y: auto;
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.settings-btn {
  all: unset;
  font-size: 2rem;
  background: rgba(251, 175, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 50%;
  padding: 0.7rem;
}

.settings-btn:hover {
  background: rgba(251, 175, 0, 1);
}

.settings-btn > i {
  font-size: 2rem;
}
