.notif {
  position: absolute;
  color: #ffffff;
  top: 1rem;
  right: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.5s;
  z-index: 10;
}

.notif.error {
  background: rgba(166, 66, 83, 0.8);
}

.notif.info {
  background: rgba(97, 201, 97, 0.8);
}

.notif.hint {
  background: rgba(184, 147, 221, 0.8);
}

.notif.active {
  opacity: 1;
}
